.error-container {
    display: flex;
    justify-content: center;
    font-family: roboto;
}

.quadradoAlert {
    background-color: transparent;
    border: 3px solid #acacac;
    width: 50vw;
    height: 30vw;
    margin-top: 13vh;
    border-radius: 15px;
    text-align: center;

    color: #cbcbcb;
    font-size: 10vw;
}

.exclamacao {
    margin-top: 5vh;
    color: #cbcbcb;
}

.errorContainer {
    font-size: 8vw;
    color: #cbcbcb;
}

.textContainer {
    color: #cbcbcb;
    font-size: 1.5vw;
}

.backLogin {
    color: #7e7e7e;
    font-size: 1vw;
}